.leadershipsection{
  background: url(../resources/images/aboutus-leadership-left-img.png) left top no-repeat,url(../resources/images/aboutus-leadership-right-img.png) right bottom no-repeat;
  background-color: #2530C91A;
  padding: 36px 0 54px 0;
}

.leadershipsection h2{
  color: var(--black-color);
  margin-top: 0px;
  font-weight: normal;
}

.leadershipsection h3{
  line-height: 50px;
  color: var(--black-color);
  margin-bottom: 30px;
  font-weight: normal;
}

.leadershipsection p{
  color: #5C5C5C;
  letter-spacing: 0.214286px;
}

@media (max-width: 1024px) {
  .leadershipsection h2{
    font-size: 40px;
    line-height: 55px;
  }
  .leadershipsection h3{
    font-size: 28px;
    line-height: 45px;
  }
  .leadershipsection p{
    font-size: 28px;
    line-height: 50px;
  }
}

@media (max-width: 834px) {
  .leadershipsection h2{
    font-size: 35px;
    line-height: 50px;
  }
  .leadershipsection h3{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .leadershipsection p{
    font-size: 22px;
    line-height: 35px;
  }
}

@media (max-width: 540px) {
  .leadershipsection{
    padding: 0 0 23px 0;
  }
  .leadershipsection h2{
    font-size: 18px;
    line-height: 60px;
    margin: 0px;
  }
  .leadershipsection h3{
    font-size: 16px;
    line-height: 20px;
    margin: 0px 0px 5px;
  }
  .leadershipsection p{
    font-size: 12px;
    line-height: 20px;
  }
}