.whyussection{
  background: url(../resources/images/aboutus-whyus-left-img.png) left bottom no-repeat,url(../resources/images/aboutus-whyus-right-img.png) right top no-repeat;
}

.whyussection__cardblock{
  margin: 27px auto 52px auto;
}

.whyussection__card{
  max-width: 390px;
  height: 632px;
  background: #E9EAFA;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 0 auto;
  padding: 53px 20px;
}

.whyussection__card--logo{
  display: block;
  margin: 0 auto 65px;
}

.whyussection__card--heading{
  line-height: 34px;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 30px;
}

.whyussection__card--para{
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.142857px;
  color: #5C5C5C;
}

.whyussection__card:hover{
  background: var(--eucalyptus-color);
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
}

.whyussection__card:hover .whyussection__card--heading,
.whyussection__card:hover .whyussection__card--para{
  color: var(--cetacean_blue-color);
}

@media (max-width: 1200px) {
  .whyussection__card{
    padding: 35px 15px;
  }
  .whyussection__card--logo{
    display: block;
    margin: 0 auto 20px;
  }
  .whyussection__card--heading{
    margin: 15px 0;
  }
}

@media (max-width: 1024px) {
  .whyussection h2{
    font-size: 40px;
    line-height: 55px;
  }
  .whyussection__card--heading{
    font-size: 28px;
    line-height: 30px;
  }
  .whyussection__card--para{
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 834px) {
  .whyussection h2{
    font-size: 35px;
    line-height: 50px;
  }
  .whyussection__cardblock [class*="col--"]{
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .whyussection__card{
    height: 432px;
    margin-bottom: 35px;
  }
  .whyussection__card--heading{
    font-size: 25px;
    line-height: 30px;
  }
  .whyussection__card--para{
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 540px) {
  .whyussection h2{
    font-size: 16px;
    line-height: 60px;
  }
  .whyussection__card{
    max-width: 335px;
    height: 304px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .whyussection{
    background: url(../resources/images/aboutus-whyus-left-img.png) left top no-repeat,url(../resources/images/aboutus-whyus-right-img.png) right bottom no-repeat;
  }
  .whyussection__cardblock{
    margin: auto;
  }
  .whyussection__card--logo{
    display: block;
    margin: 0 auto;
  }
  .whyussection__card--heading{
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .whyussection__card--para{
    font-size: 12px;
    line-height: 22px;
  }
}
