.chat__body {
  position: absolute;
  top: 110px;
  right: 15px;
}

.chat__body--block {
  position: absolute;
  top: 15px;
  right: 100px;
  width: 437px;
  z-index: 999;
  display: none;
}

.chat__body:hover .chat__body--block {
  display: block;
}

.chat__fixedimg {
  margin-left: 100px;
}

.chat__body--blockbtn {
  background-color: var(--black-color);
  border-radius: 33px;
  padding: 15px 0;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: var(--white-color);
}

.chat__active {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.chat__body--hide {
  display: none;
  padding: 20px 25px;
  border: 1px solid var(--black-color);
  border-radius: 0px 0px 33px 33px;
  background-color: var(--white-color);
}

.chat__body--hide p:first-child {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--black-color);
  margin-bottom: 26px;
}

.relictriochatform__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.chatmsgform__input::placeholder {
  font-family: var(--relictrio-inter-font) !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: var(--darkelectric_blue-color) !important;
  opacity: 0.8 !important;
}

.chatmsgform__input {
  padding: 14px 0px 14px 26px !important;
  height: 50px !important;
  margin: 0px !important;
}

.relictriochatform__field > textarea {
  height: 120px !important;
}

.chat__sec--sendbtn {
  text-align: center;
}

.chat__sec--sendbtn button {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 8px 42px;
}

.relictriochatform__field--signin p {
  font-family: var(--relictrio-inter-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--darkelectric_blue-color);
  opacity: 0.8;
  text-align: center;
  margin-bottom: 12px;
}

.relictriochatform__field--socialicon {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}

.relictriochatform__field--socialicon img:first-child {
  margin-right: 15px;
}

@media (max-width: 1024px) {
  .chat__body {
    right: 0px;
  }
}
@media (max-width: 834px) {
  .chat__body {
    top: 10px;
  }
  .chat__fixedimg {
    width: 35px;
  }
  .chat__body--block {
    top: -8px;
    right: 75px;
    width: 350px;
  }
  .chat__body--hide p:first-child {
    font-size: 16px;
    line-height: 21px;
}
}
