.designdevelop__service--para{
  font-family: var(--relictrio-semiBold-font);
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: #5C5C5C;
  margin: 30px 0;
}

.designdevelop__service--parablue{
  font-family: var(--relictrio-font);
  font-size: 32px;
  line-height: 51px;
  text-align: center;
  color: var(--cetacean_blue-color);
  margin: 30px 0;
}

.designdevelop__service--icons{
  display: block;
  margin: 0 auto;
}

.designdevelop__service--block{
  align-items: baseline;
}

/*slider-code*/

.slick-slide{
  margin: 0 20px;
}
.slick-slide img{
  width: 100%;
}
.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img{
  display: block;
}
.slick-initialized .slick-slide{
  display: block;
}

@media (max-width: 1024px) {
  .designdevelop__service h2{
    font-size: 42px;
    line-height: 58px;
  }
  .designdevelop__service--para{
    font-size: 30px;
    line-height: 45px;
  }
  .designdevelop__service--parablue{
    font-size: 30px;
    line-height: 45px;
  }
  .designdevelop__service--block p{
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 834px) {
  .designdevelop__service h2{
    font-size: 40px;
    line-height: 55px;
  }
  .designdevelop__service--para{
    font-size: 28px;
    line-height: 42px;
  }
  .designdevelop__service--parablue{
    font-size: 28px;
    line-height: 42px;
  }
  .designdevelop__service--block div{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .designdevelop__service--block p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .designdevelop__service h2{
    font-size: 18px;
    line-height: 25px;
  }
  .designdevelop__service--para{
    font-size: 14px;
    line-height: 22px;
  }
  .designdevelop__service--parablue{
    font-size: 14px;
    line-height: 20px;
  }
  .designdevelop__service--block div{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .designdevelop__service--block p{
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 30px;
  }
  .designdevelop__service--icons{
    max-height: 40px;
  }
}