.relictriofooter{
  padding: 30px 0 30px;
}

.relictriofooter__heading{
  line-height: 34px;
  margin: 0;
}

.relictriofooter__link{
  margin-top: 12px;
}

.relictriofooter__img{
  float: left;
  padding-top: 4px;
  padding-right: 20px;
}

.relictriofooter__hover--1:hover .relictriofooter__heading,
.relictriofooter__hover--1:hover .relictriofooter__link li{
  color: #A73D4D;
}

.relictriofooter__hover--2:hover .relictriofooter__heading,
.relictriofooter__hover--2:hover .relictriofooter__link li{
  color: #A73D4D;
}

.relictriofooter__hover--3:hover .relictriofooter__heading,
.relictriofooter__hover--3:hover .relictriofooter__link li{
  color: #A73D4D;
}

/*footer bottom*/

.relictriofooterbottom{
  background-color: var(--black-color);
  height: 60px;
  align-content: center;
}

.relictriofooterbottom p {
  color: var(--white-color);
}

.relictriofooterbottom__icon img{
  padding-top: 3px;
  margin: 0 10px;
}

@media (max-width: 1350px) {
  .relictriofooter__heading{
    font-size: 18px;
    line-height: 30px;
  }
  .relictriofooter__link li{
    font-size: 18px;
    line-height: 30px;
  }
  .relictriofooter__img{
    padding-right: 12px;
  }
}

@media (max-width: 1200px) {
  .relictriofooter__heading{
    font-size: 14px;
    line-height: 25px;
  }
  .relictriofooter__link li{
    font-size: 14px;
    line-height: 25px;
  }
  .relictriofooter__img{
    padding-right: 8px;
  }
}

@media (max-width: 1024px) {
  footer [class*="col--"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .relictriofooter__logo{
    margin-top: 30px;
    margin-bottom: 18px;
  }
  .relictriofooter__heading{
    font-size: 18px;
    line-height: 34px;
  }
  .relictriofooter__link li{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .relictriofooter__img{
    padding-right: 10px;
  }
  .relictriofooter{
    padding: 0px;
  }
  .relictriofooterbottom{
    height: 70px;
  }
  .relictriofooter__order--1{
    order: 1;
    display: flex;
    justify-content: center;
  }
  .relictriofooter__order--2{
    order: 2;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .relictriofooter__order--2 p{
    font-size: 14px;
  }
  .relictriofooterbottom__icon{
    margin: 10px;
  }
}

@media (max-width: 834px) {
  .relictriofooter__heading{
    font-size: 14px;
  }
  .relictriofooter__link li{
    font-size: 14px;
  }
  .relictriofooter__order--2 p{
    font-size: 12px;
  }
}