html {
  scroll-behavior: smooth;
}

.property__menu--overflow {
  overflow: visible !important;
}

.property__menutabsticky {
  position: sticky !important;
  top: 0 !important;
  display: block;
  width: 100%;
  background-color: var(--white-color);
  z-index: 1;
}

.property__menutab {
  display: flex;
  margin: 80px 0 0 0;
}

.property__menutab li {
  display: flex;
  margin-right: 60px;
}

.property__menutab--list a {
  font-size: 30px;
  line-height: 30px;
  opacity: 0.3;
  color: var(--cetacean_blue-color);
}

.active {
  opacity: 1 !important;
  text-decoration: underline !important;
}

.property__challenge--heading {
  font-size: 30px;
  line-height: 35px;
  text-decoration-line: underline;
  margin: 0;
}

.property__challenge h3 {
  padding-top: 80px;
}

.property__challenge--para {
  margin: 20px 0;
  color: var(--darkelectric_blue-color);
}

.property__challenge--icon {
  margin-right: 60px;
}

.property__discover {
  margin: 80px 0 0 0;
}

.property__design {
  margin: 80px 0 0 0;
}

.property__design--subheading {
  font-size: 30px;
  line-height: 35px;
  color: #076eba;
  margin: 75px 0;
}

.property__design--listblock {
  display: flex;
}

.property__design--colorlist {
  padding: 0 15px;
}

.color--list {
  display: flex;
  width: 250px;
}

.color--block {
  margin-left: 24px;
}

.color--block h4 {
  margin: 0;
  padding: 4px 0;
}

.color--block p {
  margin: 0;
}

.property__design--subheading2 {
  font-weight: normal;
  margin: 0;
}

.property__design--fontlist h5 {
  width: 200px;
  font-weight: normal;
  margin: 50px 0;
}

.property__design--fontlist h4 {
  width: 200px;
  font-weight: normal;
  margin: 0 0 35px 0;
}

.property__design--fontimg {
  max-width: 100%;
  margin: 60px 0 40px 0;
}

.property__design--iconlist {
  align-items: baseline;
  padding: 0 15px;
}

.property__design--iconlist div {
  margin-right: 30px;
  margin-bottom: 32px;
}

.property__design--iconlist div h5 {
  font-weight: normal;
}

.property__screen--img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.property__discover--img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0 60px 0;
}

.property__challenge--img {
  display: block;
  margin: 0 auto;
  padding: 50px 0 60px 0;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .col--remove {
    flex: 0 0 0%;
    max-width: 0%;
  }
  .col--full {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .property__menutab--list a {
    font-size: 28px;
    line-height: 28px;
  }
  .property__challenge--heading {
    font-size: 28px;
    line-height: 30px;
  }
  .property__challenge--para {
    font-size: 18px;
    line-height: 30px;
  }
  .property__design--subheading {
    font-size: 28px;
    line-height: 30px;
  }
  .property__design--subheading2 {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 834px) {
  .property__menutab {
    display: flex;
    margin: 60px 0 0 0;
  }
  .property__menutab--list a {
    font-size: 25px;
    line-height: 25px;
  }
  .property--mobile [class*="col--"] {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .property__challenge--heading {
    font-size: 25px;
    line-height: 28px;
  }
  .property__challenge--para {
    font-size: 16px;
    line-height: 25px;
  }
  .property__design--subheading {
    font-size: 25px;
    line-height: 28px;
    margin: 50px 0;
  }
  .property__design--subheading2 {
    font-size: 35px;
    line-height: 50px;
  }
  .property__design--fontlist h5 {
    margin: 30px 0;
  }
  .property__design--fontlist h4 {
    font-size: 28px;
    line-height: 40px;
  }
  .color--list {
    width: 220px;
  }
  .property__design--listblock {
    flex-wrap: wrap;
  }

  /*Color pollet heading*/
  .property__design--colorlist h4 {
    font-size: 18px;
    line-height: 25px;
  }
  .color--block h4 {
    font-size: 18px;
    line-height: 25px;
  }
  /*Typography heading*/
  .property__design--font p {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
  }
}

@media (max-width: 540px) {
  .property__menutab {
    display: flex;
    margin: 30px 0 0 0;
  }
  .property__menutab--list a {
    font-size: 14px;
    line-height: 15px;
  }
  .property__challenge--heading {
    font-size: 18px;
    line-height: 18px;
  }
  .property__challenge--para {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    margin-top: 10px;
  }
  .property__design--subheading {
    font-size: 16px;
    line-height: 18px;
    margin: 30px 0 20px 0;
  }
  .property__design--subheading2 {
    font-size: 30px;
    line-height: 35px;
  }
  .property__design--fontlist h5 {
    margin: 20px 0;
  }
  .property__design--fontlist h4 {
    font-size: 25px;
    line-height: 30px;
  }
  .property__menutab li {
    margin: 10px 40px 10px 0;
  }
  .property__challenge h3 {
    padding-top: 40px;
  }
  .property__discover {
    margin: 40px 0 0 0;
  }
  .property__design {
    margin: 40px 0 0 0;
  }
  /*Color pollet heading*/
  .property__design--colorlist {
    padding: 0px;
  }
  .property__design--colorlist h4 {
    font-size: 12px;
    line-height: 12px;
  }
  .color--block h4 {
    font-size: 12px;
    line-height: 14px;
    padding: 0;
  }
  .color--block p {
    font-size: 12px;
    line-height: 14px;
  }
  .color--list {
    width: 140px;
  }
  .color--list:nth-child(3) {
    margin-top: 15px;
  }
  .color--list img {
    width: 30px;
    height: 30px;
  }
  .color--block {
    margin-left: 10px;
  }

  /*Typography heading*/
  .property__design--fontlist h5 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 25px !important;
  }
  .property__design--fontlist h4 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px !important;
  }
  .property__design--fontimg {
    max-width: 100px;
    margin: 60px auto 10px auto;
    display: block;
  }
  .property__design--font p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
  }
  .property__design--iconlist {
    padding: 0px;
  }
  .property__design--iconlist div {
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .property__design--iconlist div h5 {
    font-size: 12px;
    line-height: 12px;
    margin: 15px 0;
  }
}
