.property__banner {
  margin-left: 70px;
}

.property__banner--heading {
  font-size: 40px;
  line-height: 30px;
  color: var(--eucalyptus-color);
  padding: 100px 0 55px 0;
  margin: 0;
}

.property__banner--list {
  display: flex;
}

.property__banner--list li {
  margin-right: 60px;
  margin-bottom: 55px;
}

.property__banner--list-para1 {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.property__banner--list-para2 {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.property__banner--overlay {
  position: relative;
}

.property__banner--img {
  width: 100%;
  position: relative;
}

.overlaytext {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  height: 100%;
}

.overlayimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.property__banner--overlayheading {
  font-family: var(--relictrio-semiBold-font);
  color: var(--white-color);
  font-weight: normal;
  text-align: center;
}

@media (max-width: 1024px) {
  .property__banner {
    margin: 0;
  }
  .property__banner--heading {
    font-size: 40px;
    line-height: 30px;
  }
  .property__banner--list li {
    margin-right: 50px;
    margin-bottom: 45px;
  }
  .property__banner--list-para2 {
    font-size: 18px;
  }
  .property__banner--overlayheading {
    font-size: 45px;
    line-height: 65px;
  }
}

@media (max-width: 834px) {
  .property__banner {
    margin: 0;
  }
  .property__banner--heading {
    font-size: 30px;
    line-height: 25px;
    padding: 80px 0 45px 0;
  }
  .property__banner--list-para2 {
    font-weight: normal;
}
  .property__banner--list li {
    margin-right: 45px;
    margin-bottom: 40px;
  }
  .property__banner--overlayheading {
    font-size: 25px;
    line-height: 35px;
    padding: 0 20px;
  }
}

@media (max-width: 540px) {
  .property__banner {
    margin: 0;
  }
  .property__banner--heading {
    font-size: 18px;
    line-height: 25px;
    padding: 20px 0 10px 0;
  }
  .property__banner--list-para1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  .property__banner--list-para2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  .property__banner--list li {
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .property__banner--overlayheading {
    font-size: 18px;
    line-height: 22px;
  }
}
