.linear-grad--desc{
    top: 5%;
    left: 6%;
}

.welcome--img{
    left: 19.14%;
    top: 33.39%;
}

.sec--title{
    margin-left: -20px !important;
}

.wireframes-images{
    top: 2%;
}

.rozgarkart-logo{
    left: 14%;
    top: 32%;
}